<h1>About</h1>

<p style="max-width:500px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien turpis, consectetur blandit erat sed, pretium imperdiet dolor. Nulla commodo dignissim lacinia. Pellentesque metus justo, ullamcorper quis tempor quis, sollicitudin sit amet nulla. Phasellus ac orci libero. Phasellus at urna tincidunt, facilisis erat id, cursus turpis. Fusce ut erat feugiat, consequat ligula sit amet, tempus metus. Phasellus massa metus, vulputate a euismod at, ullamcorper at turpis. Maecenas dictum in nunc eu ullamcorper.
</p>


<%= link_to 'Homepage', root_path %>