<div class="myJumb jumbotron">
  <div class="container">
    <h1>Welcome to Alpha Blog!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><%= link_to "Sign up now", '#', class: "btn btn-primary btn-lg" %></p>
  </div>
</div>