<footer>
    <div class="row footer-sections">
        <div class="col-md-4 col-6 footer-section">
            <h3>Useful Links</h3>
            <ul>
                <li><%= link_to 'Articles', articles_path%></li>
                <li><%= link_to 'About', about_path%></li>
            </ul>
        </div>
        <div class="col-md-4 col-6 footer-section"></div>
        <div class="col-md-4 col-6 footer-section"></div>
    </div>
    <div class="footer-cp">
       <p> &copy; 2018 Alpha Blog </p>
    </div>
</footer>
